<!DOCTYPE html>
<html>
<head>
  <title>Rails User Post Management API Application</title>
  <%= yield :head %>
</head>

<%= render 'layouts/navbar' %>

<div class="container">
  <%= yield %>
</div>

</body>

</html>